/*Variable de couleur*/
:root{
    --light-gray: #eee; 
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --primary-color: #d35649;
    --primary-purple: #575a89;
}
.sunny{
    text-align: center;
    box-shadow: 0 0 0.5em 0.05em black; 
}
h1{
    color: var(--primary-color);
}
h1 svg{
    width: 25pt;
    height: 25pt;
    fill: var(--primary-color);
}

.soleil{
    width: 80%;
    margin: auto;
    display: flex;
    border: 2px solid blue;
}
.location{
    width: 50%;
    margin: 0.5% 0% 0.5% 4%;
}
.location span{
    font-weight:600 ;
    color: var(--primary-blue);
}
.emploi{
    padding: 3% 0 ;
    margin: 1.5% 0 0 0;
    box-shadow: 0 0 0.02em 0.02em black;
}
.but{
    width: 5%;
    border: none;
    color: white;
    padding: 1% 0.5%;
    border-radius: 2px;
    margin: 0.5% 0% 0.5% 84%;
    background-color: var(--primary-blue);
} 
.lova{
    flex-wrap: wrap;
    margin-bottom: 2%;
    justify-content: space-evenly;
}
.lova svg{
    fill: var(--primary-blue);
}
.map{
    text-align: center;
}
iframe{
    width: 100%;
}


@media screen and (max-width:765px) {
    header{
        display: block;
    }
    .sary{
        width: 100%;
        display: block;
        background-color: saddlebrown;
    }
}