/*Variable de couleur*/
:root{
    --light-gray: #eee; 
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --primary-color: #d35649;
    --primary-purple: #575a89;
}
/*Propriete du site*/
h1{
    color: var(--primary-color);
}
h1 svg{
    width: 35pt;
    height: 35pt;
    fill: var(--primary-color);
}
.soleil{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5em 0.05em black; 
}
.location{
    width: 95%;
    margin: auto;
}
.location span{
    font-weight:600 ;
    color: var(--primary-blue);
}
.emploi{
    padding: 3% 0 ;
    margin: 1.5% 0 0 0;
    border: 1px solid var(--primary-gray);
}
.but{
    width: 9%;
    border: none;
    color: white;
    padding: 1% 0.5%;
    border-radius: 2px;
    margin: 0.5% 0% 0.5% 85%;
    background-color: var(--primary-blue);
} 
.lova{
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 2%;
    justify-content: space-between;
}
.lova svg{
    fill: var(--primary-blue);
}
.map{
    margin: 0 1% 0 1%;
    text-align: center;
}
iframe{
    width: 100%;
}
/*Responsive*/
@media screen and (max-width:765px) {
    header{
        display: block;
    }
    .sary{
        width: 100%;
        display: block;
        background-color: saddlebrown;
    }
    .but{
        width: 15%;
        margin-left: 75%;
    }
    iframe{
        height: 100px;
    }
}