/*Variable de couleur*/
:root{
    --light-gray: #eee; 
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --primary-color: #d35649;
    --primary-purple: #575a89;
}
/*Style du contenue du site*/
.donne{
    width: 90%;
    margin: auto;
}
.filter{
    margin: 3% 0;
    padding: 2% 0;
    text-align: center;
    background-color:var(--light-gray) ;
}
.filter h1{
    font-weight: 700;
    color: var(--primary-gray);
}
.enter{
    text-align: left;
}
.enter label{
    font-weight: 500;
    font-size: medium;
}
.feno{
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--primary-gray);
}
.re{
    border: none;
    color: white;
    border-radius: 6px;
    background-color: var(--primary-blue);
}
.clear{
    border: none;
    color: white;
    border-radius: 6px;
    background-color:orange;
}
.fita{
    width: 80%;
    margin: auto;
}
.bg{
    background-color: var(--primary-color);
}
figure{
    position: relative;
}
figcaption{
    top: 0;
    width: 100%;
    padding: 1% 0;
    position: absolute;
    text-align: center;
    color: var(--light-gray);
    text-shadow: 0.05em 0.05em var(--light-gray);
}
.soa{
    text-align: center;
    color: var(--primary-gray);
}

@media screen and (max-width:765px) {
    header{
        display: block;
    }
    .tpetit{
        width: 50%;
        margin: auto ;
    }
    .grand{
        text-align: center;
    }
    .donne{
        width: 100%;
    }
    .re, .clear {
        width: auto;
        font-size: small;
    }
    figcaption{
        top: 20%;
        font-size: 50px;
    }
}