/*Variable de couleur*/
:root{
    --light-gray: #eee; 
    --gray-footer: #1f1f1f;
    --gray-footer-btn: #444;
    --primary-gray: #98a5a5;
    --primary-blue: #509bd7;
    --primary-color: #d35649;
    --primary-purple: #575a89;
}
/*general*/
.grand{
    border: 2px solid green;
}
.petit{
    border: 2px solid red;
}
.tpetit{
    border: 2px solid yellow;
}
.kely{
    border: 1px solid blue;
}
/*Header*/
header{
    background-color: var(--primary-color);
}
header h1{
    color: var(--light-gray);
    text-shadow: 0.05em 0.05em 0.05em var(--primary-blue)
}
.bar h2{
    color: var(--light-gray);
}
.bar{
    display: flex;
    align-items: center;
    justify-content: end;
}
/*Premiere*/
.su{
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url(../Images/group-1.jpg);
}
.su h1{
    color: white;
    font-variant: small-caps;
    text-shadow: 0.08em 0.07em black;
}
.centre1{
    width: 60%;
    margin: auto;
    padding: 2% 0;
    background-color: #98a5a59a;
}
#plage{
    padding: 0 36% 0 0;
}
.boutton{
    border: none;
    border-radius: 3px;
    color: var(--light-gray);
    background-color: var(--primary-color);
}
.how{
    border: none;
    padding: 0.5%;
    font-weight: 700;
    border-radius: 3px;
   background-color: #98a5a58c; 
}
/*deuxieme*/
.deuxieme{
    padding: 2%;
    text-align: center;
}
.deuxieme h1{
    margin-bottom: 2%;
    color: var(--primary-color);
}
.text{
    display: flex;
}
.contenu{
    width: 50%;
}
/*Troisieme*/
.troisieme{
    display: flex;
}
.Near{
    background-color: var(--primary-color);
}
.text1{
    width: 70%;
    color: var(--light-gray);
}
.text1 .near{
    color: var(--primary-color);
    border: none;
}
.Connect{
    background-color: var(--primary-gray);
}
.text1 .connect{
    border: none;
    color: var(--primary-gray);
}
.Spred{
    background-color: var(--primary-blue);
}
.sary{
    width: 30%;
    display: flex;
    justify-content: center;
}
.sary img{
    margin: 3% 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.mobile1{
    background-color: var(--primary-gray);
}
.mobile2{
    background-color: var(--primary-color);
}
.mobile3{
    background-color: #509bd7;
}
.sary1{
    padding: 20% 10%;
    border-radius: 20px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../Images/group-4.jpg);
}
.sary2{
    padding: 20% 10%;
    border-radius: 20px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../Images/group-2.jpg);
}
.sary3{
    padding: 20% 10%;
    border-radius: 20px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../Images/group-3.jpg);
}
.ta{
    color: var(--primary-gray);
}
.ti{
    color: var(--primary-color);
}
/*Footer*/
.foot{
    display: flex;
    padding: 4% 0 1% 0;
    justify-content: center;
    background-color:black;
}
.logo{
    width: 8%;
    display: flex;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.menu{
    width: 30%;
    margin: 2% 0;
    padding: 1% 0;
    display: flex;
    color: white;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.pied{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 33.33%;
    color: white;
    text-align: center;
}
#mail{
    padding: 2% 0;
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
}
.send{
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    border : 1px solid white;
    background-color:var(--gray-footer-btn);
}
.lien{
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-color);
}
.info span{
    color: var(--primary-color);
}
.pied{
    padding: 2% 0;
    color: var(--primary-gray);
    background-color: var(--gray-footer);
}
.small img{
    width: 100%;
}
@media screen and (max-width:765px) {
    header{
        display: block;
    }
    .laogo {
       text-align: center;
    }
    .bar{
        display: flex;
        justify-content: center;
    }
    .deuxieme{
        display: none;
    }
}